body {
	font-family: 'Cantarell', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.container {
	width: 800px;
	margin: 0 auto;
	background-color: #252525;
	display: flex;
	flex-wrap: wrap;
}

.primary {
	width: 100%;
	height: 160px;
	color: rgb(0, 185, 200);
	font-weight: 700;
	font-style: italic;
	font-size: 146px;
}

.secondary {
	width: 100%;
	font-size: 1.5em;
	color: #888;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.year {
	color: #eee;
}

.spacing {
	width: 7.142857%;
	text-align: center;
}